form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  .input-field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    color: #4a5568;

    &:focus {
      border-color: #6366f1;
      outline: none;
      box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
    }
  }

  label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4a5568;
  }

  /* .w-full {
    width: 100%;

    @media (min-width: 768px) {
      &.md\\:w-1\\/2 {
        width: 50%;
      }
    }

    @media (min-width: 1024px) {
      &.lg\\:w-1\\/4 {
        width: 25%;
      }
    }
  } */

  .btn-primary,
  .btn-secondary {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    }
  }

  .btn-primary {
    background-color: #4f46e5;
    color: #fff;

    &:hover {
      background-color: #4338ca;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5);
    }
  }

  .btn-secondary {
    background-color: #4b5563;
    color: #fff;

    &:hover {
      background-color: #374151;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(75, 85, 99, 0.5);
    }
  }
}

mat-expansion-panel {
  margin-bottom: 16px;
}

mat-panel-title {
  font-size: 1.25rem;
  font-weight: bold;
}

mat-panel-description {
  font-size: 0.875rem;
}
